

body > {
    padding: 0px;
    margin: 0px;
    background-color: whitesmoke;
    
}

header{
    display: flex;
    justify-content:space-around;
    background:#332f2c;
    text-align: center;
    font-weight: bold;
    height: 200px;
    color:white;

}

.lista {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background:#fdf9c4;
    
    
}

li {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 500px;
    height: 300px;
}